# Add environment
.venv/

# Add PNG files
*.png

# Add Python cache directories
__pycache__/
*.py[cod]
*.class

# all models
checkpoints/
flooding_model_checkpoints/

# all log files
*.log

*.DS_Store

saved_models/
papers/
results/
results2/
results3/
results4/
results5/
results6/
results7/
results8/
results9/

*.csv
*.txt
*.out
*.png
*.pkl
*.csv